@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,900&subset=cyrillic,latin-ext");
/* RESET USTAWIE┼â */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  font-family: "Muli", sans-serif; }

body h1 {
  font-family: "Anton"; }

.hero {
  background: url("https://static.pexels.com/photos/418296/pexels-photo-418296.jpeg");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  padding: 0; }
  .hero h1 {
    text-align: center;
    color: #fff;
    text-transfrom: uppercase;
    font-size: 80px;
    margin-top: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-width: 2px;
    text-shadow: 2px 2px 4px #000000; }
  .hero p {
    text-align: center;
    font-size: 40px;
    color: #fff; }
@keyframes example {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
  .hero span {
    animation-name: example;
    animation-duration: 1.3s;
    animation-iteration-count: infinite; }

.navi {
  background: #1E4167;
  height: 60px;
  box-shadow: 0 1px 5px #000; }

.navi-container i {
  font-size: 40px;
  color: #fff;
  line-height: 60px;
  padding: 0 10px; }
  .navi-container i:hover {
    color: #0174B5;
    cursor: pointer; }
  .navi-container i span:hover {
    color: #0174B5; }

.nav_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right; }
  .nav_list li {
    display: inline-block; }
    .nav_list li a {
      line-height: 60px;
      padding: 0 20px;
      color: #fff;
      display: block;
      text-decoration: none;
      text-transform: uppercase; }
      .nav_list li a:hover {
        background-color: #0174B5;
        transition: 0.3s; }

.scky {
  display: none; }

.sidenav {
  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  z-index: 2; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
    .sidenav a:hover {
      color: #f1f1f1; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  @media screen and (max-height: 450px) {
    .sidenav .sidenav {
      padding-top: 15px; }
      .sidenav .sidenav a {
        font-size: 18px; } }

.home {
  text-align: center;
  margin: 10vh 0; }
  .home i {
    font-size: 120px; }
  .home .github:hover {
    color: #0174B5;
    cursor: pointer; }
    .home .github:hover p {
      color: #000; }
  .home .linkedin:hover {
    color: #0174B5;
    cursor: pointer; }
    .home .linkedin:hover p {
      color: #000; }
  .home .rwd:hover {
    color: #0174B5;
    cursor: pointer; }
    .home .rwd:hover p {
      color: #000; }

.photo {
  width: 20%;
  height: 400px;
  background-image: url("https://avatars1.githubusercontent.com/u/29510788?v=4&u=8f71129ef73594e813a381691b12935d6c3d1681&s=400");
  background-size: cover;
  background-position: center;
  float: left;
  box-shadow: 0 1px 5px #000; }

.information {
  background-color: #f2f2f1;
  width: 80%;
  height: 400px;
  float: left;
  margin-bottom: 7vh; }
  .information .info {
    margin: 5vh; }
  .information h1 {
    font-weight: 700;
    font-size: 50px;
    font-style: bold;
    margin-bottom: 40px; }
  .information p {
    font-size: 18px;
    font-weight: 400;
    color: #191919; }

.btn-default {
  font-size: 18px;
  line-height: 24px;
  padding: 20px 19px;
  border: 2px solid #fff;
  text-transform: uppercase;
  border-radius: 0px;
  font-weight: 700;
  background: transparent;
  color: #fff;
  -webkit-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0; }
  .btn-default:hover {
    background: #fff;
    color: #2ecc71;
    border-color: #fff; }

.btn-default.featured {
  font-size: 18px;
  line-height: 24px;
  padding: 20px 19px;
  border: 2px solid #2ecc71;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 700;
  background: transparent;
  color: #2ecc71;
  margin-top: 50px;
  -webkit-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s; }
  .btn-default.featured:hover {
    background: #2ecc71;
    color: #fff;
    border-color: #2ecc71; }

.prog {
  padding: 3px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 3px;
  height: 30px;
  margin-bottom: 10px; }
  .prog .progBar {
    border-radius: 3px;
    background: #444;
    line-height: 20px;
    height: 100%; }

.srOlny {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.prog.blue > .progBar {
  background-color: #0174B5; }

.prog.striped > .progBar {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 60px 60px; }

@-webkit-keyframes progBar {
  from {
    background-position: 0 0; }
  to {
    background-position: 60px 0; } }
@-moz-keyframes progBar {
  from {
    background-position: 0 0; }
  to {
    background-position: 60px 0; } }
@-o-keyframes progBar {
  from {
    background-position: 0 0; }
  to {
    background-position: 60px 0; } }
.section-padding {
  padding: 100px 0; }

.prog.striped.animated > .progBar {
  -webkit-animation: progBar 1s linear infinite;
  -moz-animation: progBar 1s linear infinite;
  -o-animation: progBar 1s linear infinite;
  animation: progBar 1s linear infinite; }

.heading-title {
  text-align: center;
  padding-bottom: 50px; }

.srOnly {
  color: #fff;
  font-size: 12px;
  padding-left: 10px; }

.quot {
  background-color: #f2f2f1;
  height: 400px; }

.title-quot {
  text-align: center;
  font-size: 20px;
  font-family: "Playfair Display"; }
  .title-quot p {
    padding-top: 120px; }

.work {
  height: 600px; }
  .work .title-work {
    padding: 80px 0;
    text-align: center; }

footer {
  background: #235589;
  color: #fff;
  text-align: center;
  height: 250px; }
  footer h1 {
    opacity: 0.5;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: "Open Sans Condensed"; }
  footer p {
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px; }

.new-project {
  list-style-type: none; }

.lower-footer {
  background-color: #1E4167;
  height: 94px; }
  .lower-footer p {
    line-height: 94px;
    margin: 0 auto; }

@media (max-width: 850px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; }

  .col-m-offset-0 {
    margin-left: 0; }

  .col-m-offset-1 {
    margin-left: 8.33%; }

  .col-m-offset-2 {
    margin-left: 16.66%; }

  .col-m-offset-3 {
    margin-left: 25%; }

  .col-m-offset-4 {
    margin-left: 33.33%; }

  .col-m-offset-5 {
    margin-left: 41.66%; }

  .col-m-offset-6 {
    margin-left: 50%; }

  .col-m-offset-7 {
    margin-left: 58.33%; }

  .col-m-ffset-8 {
    margin-left: 66.66%; }

  .col-m-offset-9 {
    margin-left: 75%; }

  .col-m-offset-10 {
    margin-left: 83.33%; }

  .col-m-offset-11 {
    margin-left: 91.66%; }

  .nav_list {
    display: none; }

  .navi-container span {
    float: right; }

  .information {
    height: 550px; }

  .footer {
    display: none; }

  .top-header {
    display: none; }

  .prog-head h4 {
    text-align: center;
    font-weight: bold; }

  .scky {
    display: inline; } }

/*# sourceMappingURL=style.css.map */
